body{
    background-image: url("image5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        text-align: center;
        
}
.logo{
    width: 12%;
    margin-left: 0vw;
    float: left;

}
.menu{
    line-height: 70px;
    text-align: right;
    font-size: 20px;
    margin-left: 50vw;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 10%;
    font-weight: bold;
}
.container{
    width:100%;
    margin-left: 10px;
    /* margin-top: 0.1px; */
}
.img-responsive{
    width:100%;
}
.clearfix{
    clear:both;
    float:none;
}
a{
    color: #504638 ;
    text-decoration: none;
}
a:hover{
    color: #6a8ca7;
}
    h1 {
      color: #88B04B;
      /* font-family: "Nunito Sans", "Helvetica Neue", sans-serif; */
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      color: #504638;
      /* font-family: "Nunito Sans", "Helvetica Neue", sans-serif; */
      font-size:12px;
      margin: 0;
      display:inline;
    }
  /* i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  } */
  .card {
    background: white;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin-left: 700px;
  }
  
